@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wxhsxi');
  src:  url('fonts/icomoon.eot?wxhsxi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wxhsxi') format('truetype'),
    url('fonts/icomoon.woff?wxhsxi') format('woff'),
    url('fonts/icomoon.svg?wxhsxi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pingfang;
  src: url("assets\fonts\PingFang-SC.ttf")
}
[class^="swin-icon-"], [class*=" swin-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swin-icon-waiter:before {
  content: "\e900";
}
.swin-icon-wine:before {
  content: "\e901";
}
.swin-icon-browser:before {
  content: "\e902";
}
.swin-icon-carrot:before {
  content: "\e903";
}
.swin-icon-delivery:before {
  content: "\e904";
}
.swin-icon-dinner:before {
  content: "\e905";
}
.swin-icon-dinner-2:before {
  content: "\e906";
}
.swin-icon-dish:before {
  content: "\e907";
}
.swin-icon-fish:before {
  content: "\e908";
}
.swin-icon-ice-cream:before {
  content: "\e909";
}
.swin-icon-meat:before {
  content: "\e90a";
}
.swin-icon-medal:before {
  content: "\e90b";
}
.swin-icon-menu-1:before {
  content: "\e90c";
}
.swin-icon-noodles:before {
  content: "\e90d";
}
.swin-icon-open:before {
  content: "\e90e";
}
.swin-icon-pasta:before {
  content: "\e90f";
}

/* 滚动条样式优化 */
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #f6ba0b;
  -webkit-border-radius: 6px;
  outline-offset: -2px;
  filter: alpha(opacity = 50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #fcd152;
  -webkit-border-radius: 6px
}
#allmap {      
  border: 3px solid #A6A6A6;   
  -webkit-border-radius: 3px;  
  -moz-border-radius: 3px;  
  border-radius: 3px;
  outline: 10px solid #F8F8F8;   
  outline-offset: 0px;   
  box-shadow: 0 0 25px #aaa;
    /*border和outline之间的距离*/  
} 
.service-item-inner {
  border-radius: 10px;
}
.main-text {
  margin-left: 5px;
}

/*消除百度地图API左下logo*/
@media (min-width: 576px) {
.BMap_cpyCtrl {
    display:none;
}
.anchorBL{
    display:none;
}}
